<div
  id="Banner-{{ section.id }}"
  class="banner"
>
  {%- if section.settings.image != blank -%}
    <div class="banner__media media">
      {%- liquid
        assign width = '100vw'
        assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        assign image_height_mobile = section.settings.image_mobile.width | divided_by: section.settings.image_mobile.aspect_ratio
      -%}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          loading: 'lazy',
          preload: true,
          width: section.settings.image.width,
          height: image_height,
          class: 'hidden lg:block object-cover',
          sizes: width,
          widths: widths
      }}
      {{
        section.settings.image_mobile
        | image_url: width: 1920
        | image_tag:
          loading: 'lazy',
          preload: true,
          width: section.settings.image_mobile.width,
          height: image_height_mobile,
          class: 'lg:hidden object-cover',
          sizes: width,
          widths: widths
      }}
    </div>
  {%- else -%}
    <div class="banner__media media">
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.image-banner.settings.image_2.label"
    }
  ]
}
{% endschema %}
