<marquee-text class="block overflow-hidden text-base uppercase py-[.822rem] bg-[#022541] text-[#FFFEF7]">
  <div class="block marquee-text">
    {%- for block in section.blocks -%}
      <span>{{ block.settings.text }}</span>
    {%- endfor -%}
  </div>
</marquee-text>

{% schema %}
{
  "name": "Marquee text",
  "class": "section",
  "max_blocks": 10,
  "settings": [],
  "blocks": [
    {
      "type": "marquee_text",
      "name": "Marquee text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "WINES AND SPIRITS FROM THE SOURCE"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Marquee text",
      "blocks": [
        {
          "type": "marquee_text"
        }
      ]
    }
  ]
}
{% endschema %}
