@tailwind base;

@layer base {
    html {
        @apply scroll-smooth
    }

    h1, .h1 {
        @apply text-4xl;
    }
    h2, .h2 {
        @apply text-3xl;
    }
    h3, .h3 {
        @apply text-2xl;
    }
    h4, .h4 {
        @apply text-xl;
    }
    h5, .h5 {
        @apply text-base;
    }
    h6, .h6 {
        @apply text-sm;
    }
    .big-text {
        font-size: 3.2rem;
        line-height: 3.6rem;
        letter-spacing: -1.6px;
    }

    p {
        @apply text-base;
    }
    
    h1.font-sans, .h1.font-sans {
        letter-spacing: -1.76px;
    }
    h1.font-serif, .h1.font-serif {
        letter-spacing: -4.4px;
    }
    h2.font-sans, .h2.font-sans {
        letter-spacing: -1.24px;
    }
    h2.font-serif, .h2.font-serif {
        letter-spacing: -3.1px;
    }
    h3.font-sans, .h3.font-sans {
        letter-spacing: -0.88px;
    }
    h3.font-serif, .h3.font-serif {
        letter-spacing: -2.2px;
    }
    h4.font-sans, .h4.font-sans {
        letter-spacing: -0.44px;
    }
    h4.font-serif, .h4.font-serif {
        letter-spacing: -1.1px;
    }
    h5.font-sans, .h5.font-sans {
        letter-spacing: -0.32px;
    }
    h5.font-serif, .h5.font-serif {
        letter-spacing: -0.8px;
    }
    h6.font-sans, .h6.font-sans {
        letter-spacing: -0.26px;
    }
    h6.font-serif, .h6.font-serif {
        letter-spacing: -0.65px;
    }
    p.font-sans, .base-text.font-sans {
        letter-spacing: -0.32px;
    }
    p.font-serif, .base-text.font-serif {
        letter-spacing: -0.8px;
    }
    .header__heading-link, .header__heading {
        @apply h4 uppercase font-serif;
    }

    .header__heading-link {
        padding: 1.1rem 0 .7rem;
    }

    body {
        @apply font-sans text-base text-[rbg(var(--color-foreground,_21,21,21))] bg-[rgb(var(--color-background,_255,254,247))];
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    div, img, svg {
       @apply leading-none;
    }

}

.base-text {
    @apply text-base;
}

@tailwind components;
@tailwind utilities;

@layer components {
    .section-header.animate {
        @apply transition-[top] duration-[.15s] ease-out
    }

    .section-header.shopify-section-group-header-group {
        @apply z-[3]
    }

    .shopify-section-header-sticky {
        @apply sticky top-0
    }

    .shopify-section-header-hidden {
        @apply -top-[calc(1_*_var(--header-height))]
    }

    .header-wrapper {
        @apply block relative;
    }

    .container {
        @apply max-w-full grid grid-cols-10 gap-1 px-1 lg:px-2 lg:gap-2;
    }

    .btn {
        @apply font-sans text-center text-[1.3rem] leading-[2.2rem] -tracking-[.02em] uppercase border rounded-2xl px-[3.5rem] pt-[1.2rem] pb-1;
    }


    @media (min-width: 1024px) {
        .btn {
            @apply text-md;
        }
    }

    .btn-small {
        @apply font-sans text-center text-[1rem] leading-[1.6rem] -tracking-[.02em] border uppercase rounded-[.2rem] px-[1.3rem] pt-[.25rem] pb-[.15rem] max-h-[2.2rem];
    }

    .btn-medium {
        @apply font-sans text-center text-[1.4rem] leading-[2.2rem] -tracking-[.02em] border uppercase rounded-2xl max-h-[3.3rem] px-[3.5rem] pt-[.6rem] pb-[.3rem] min-w-[15rem];
    }

    .btn-link {
        @apply font-sans text-md relative uppercase -tracking-[.02em] text-[rgb(var(--color-link,_21,21,21))] transition-colors;
    }

    .btn-link:hover {
        @apply text-[rgb(var(--color-link-hover,_170,153,85))];
    }

    .btn-primary {
        @apply text-[rgb(var(--color-button-text,_255,254,247))] bg-[rgb(var(--color-button,_2,37,65))] border-[rgb(var(--color-button-border,_2,37,65))] transition-colors;
    }

    .btn-primary:hover {
        @apply text-[rgb(var(--color-button-text-hover,_255,254,247))] bg-[rgb(var(--color-button-hover,_170,153,85))] border-[rgb(var(--color-button-border-hover,_170,153,85))];
    }

    .btn-secondary {
        @apply text-[rgb(var(--color-secondary-button-text,_21,21,21))] bg-[rgb(var(--color-secondary-button,_255,254,247))] border-[rgb(var(--color-secondary-button-border,_21,21,21))] transition-colors;
    }

    .btn-secondary:hover {
        @apply text-[rgb(var(--color-secondary-button-text-hover,_255,254,247))] bg-[rgb(var(--color-secondary-button-hover,_2,37,65))] border-[rgb(var(--color-secondary-button-border-hover,_2,37,65))];
    }

    .btn-danger {
        @apply text-[#ffffff] bg-[#FF0F0F] border-[#FF0F0F] hover:text-[#FF0F0F] hover:bg-transparent
    }

    .card-act-btn {
        @apply font-sans text-sm uppercase w-full flex justify-between items-center gap-1 px-1 py-[.85rem] border-y
        text-[rgb(var(--color-button-border,_220,220,220))] bg-[rgb(var(--color-button,_255,254,247))] border-[rgb(var(--color-button-border,_220,220,220))]
        enabled:text-[rgb(var(--color-button-text,_21,21,21))] enabled:bg-[rgb(var(--color-button,_255,254,247))] 
        enabled:hover:text-[rgb(var(--color-button-text-hover,_255,254,247))] enabled:hover:bg-[rgb(var(--color-button-hover,_2,37,65))] 
        enabled:hover:border-[color:var(--color-button-border-hover,_2,37,65)] [&.loading]:hover:text-transparent
        [&.loading]:hover:bg-[rgb(var(--color-button,_transparent))] [&.loading]:hover:border-[rgb(var(--color-button-border,_220,220,220))]
        transition-all relative;
    }

    .card-act-btn:disabled .plus-icon circle {
        @apply fill-[rgb(var(--color-button-border,_220,220,220))]
        transition-all;
    }

    .card-act-btn .plus-icon circle {
        @apply fill-[rgb(var(--color-button-hover,_2,37,65))]
        transition-all;
    }

    .card-act-btn:not(:disabled):hover .plus-icon circle {
        @apply fill-[rgb(var(--color-button-text-hover,_255,254,247))]
    }

    .card-act-btn:disabled .plus-icon line {
        @apply stroke-[rgb(var(--color-button-text-hover,_255,254,247))]
    }

    .card-act-btn .plus-icon line {
        @apply stroke-[rgb(var(--color-button,_255,254,247))]
        transition-all;
    }

    .card-act-btn:not(:disabled):hover .plus-icon line {
        @apply stroke-[rgb(var(--color-button-hover,_2,37,65))]
    }

    .border-color {
        @apply border-[rgb(var(--divider,_197,197,197))]
    }

    .visually-hidden {
        position: absolute!important;
        overflow: hidden;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
        word-wrap: normal!important;
    }

    .skip-to-content-link {
        z-index: 9999;
        position: inherit;
        overflow: auto;
        width: auto;
        height: auto;
        clip: auto;
        padding: 0.5rem 1.5rem 0.4rem;
    }

    .list-menu--inline {
        gap: 2rem;
    }

    .default-input {
        @apply w-full border-b outline-none font-sans text-[1.4rem] leading-[2.2rem] -tracking-[.02em] focus-visible:outline-none 
        text-[rgb(var(--color-foreground,_21,21,21))] bg-[rgb(var(--color-background,_255,254,247))] border-[rgb(var(--color-foreground,_21,21,21))]
         pb-[.1rem] [&.error-input:not(:focus)]:border-[#FF0000] [&.error-input:not(:focus)]:text-[#FF0000] [&.error-input:not(:focus)]:placeholder:text-[#FF0000]
    }

    .loading-overlay--spinner {
        @apply absolute w-[1.5rem] left-1/2 -translate-x-2/4 animate-spin-slow;
    }

    .loading-overlay--spinner .path {
        stroke-dasharray: 280;
        stroke-dashoffset: 0;
        transform-origin: center;
    }

    .drawer {
        @apply fixed top-0 left-0 w-screen h-fit invisible [&.active]:visible z-30 flex justify-end;
    }

    .cart-drawer__overlay {
        @apply fixed inset-0 backdrop-blur-[10px] -z-10;
    }
    .drawer__inner {
        @apply text-[color:var(--color,_#151515)] bg-[color:var(--bg,_#FFFEF7)] w-[30rem] md:w-[60.9rem] overflow-auto flex flex-col pt-1 px-1 pb-2 md:p-2 gap-2 rounded-2xl 
        translate-y-0 xs:translate-y-[2rem] translate-x-full group-[&.active]:-translate-x-0 xs:group-[&.active]:-translate-x-[2rem] transition-transform delay-100 duration-500;
    }

    .no-js .no-js-hidden {
        @apply hidden;
    }
    .no-js:not(html) {
        @apply hidden;
    }

    .product__description, .product__description>* {@apply text-[1.4rem] leading-[1.5rem] -tracking-[.02em] lg:text-base}

    .product__description hr {
        @apply mt-[5.5rem] lg:mt-[6.5rem] mb-[1.5rem];
    }

    .product-act-btn {
        @apply flex justify-center items-center h-[5.5rem] w-full px-[3.6rem] py-[1.2rem] rounded-3xl uppercase text-[color:var(--act-btn-color,_#FFFEF7)] bg-[color:var(--act-btn-bg,_#022541)]
        text-[2rem] leading-[2.2rem] -tracking-[.02em] border border-[color:var(--act-btn-border,_#022541)] hover:text-[color:var(--act-btn-color-hover,_#FFFEF7)]
        hover:border-[color:var(--act-btn-border-hover,_#AA9955)] hover:bg-[color:var(--act-btn-bg-hover,_#AA9955)] transition-all;
    }

    .product-form__buttons .shopify-payment-button__button {
        @apply flex justify-center items-center h-[5.5rem] w-full px-[3.6rem] py-[1.2rem] rounded-3xl uppercase text-[color:var(--act-btn-color,_#151515)] bg-[color:var(--act-btn-bg,_transparent)]
        text-[2rem] leading-[2.2rem] -tracking-[.02em] border border-[color:var(--act-btn-border,_#151515)] hover:text-[color:var(--act-btn-color-hover,_#FFFEF7)]
        hover:border-[color:var(--act-btn-border-hover,_#022541)] hover:bg-[color:var(--act-btn-bg-hover,_#022541)] border-solid transition-all;
    }
    
    .product-form__buttons .shopify-payment-button__button--hidden {
        @apply hidden;
    }

    .product-sticky-btn {
        @apply flex justify-center items-center h-[3.1rem] text-[1.3rem] lg:text-[1.4rem] leading-[2.2rem] -tracking-[.02em] uppercase rounded-2xl border border-[color:var(--sticky-btn-border,_#FFFEF7)]
        pt-[.2rem] lg:pt-0 px-2 min-w-[13.6rem] lg:min-w-[15.8rem];
    }

    .sticky-act-section {
        @apply sticky top-[var(--header-height,_0)] transition-[top] duration-[.15s] ease-out;
    }

    .sticky-header-hidden .sticky-act-section {
        @apply top-0;
    }

    .icon-plus-minus {
        @apply w-[1.6rem] h-[1.6rem] relative pointer-events-none;
    }

    .icon-plus-minus::after,
    .icon-plus-minus::before {
        content: '';
        @apply absolute w-full h-[.1rem] left-0 top-1/2 -translate-y-1/2 bg-black;
    }

    .icon-plus-minus::after {
        @apply rotate-90;
    }
    
    .group[open] .icon-plus-minus::after {
        @apply rotate-0
    }
    
    .gradient {
        background: rgb(var(--color-background));
        background: var(--gradient-background);
        background-attachment: fixed;
    }

    .section-padding {
        @apply pt-[var(--padding-top,_1rem)] pb-[var(--padding-bottom,_1rem)] md:pt-[var(--padding-top-desktop,_2rem)] md:pb-[var(--padding-bottom-desktop,_2rem)];
    }

    .producer-overview p {
        @apply font-serif text-[3.2rem] leading-[3.6rem] -tracking-[.05em] indent-6 lg:text-2xl lg:leading-normal lg:indent-[14rem];
    }

    .producer-description p{
        @apply text-md lg:text-base -tracking-[.02em];
    }

    .producer-description>div:first-child p:first-child {
        @apply indent-3 lg:indent-[6rem];
    }

    .text-block-title {
        @apply text-md leading-[1.8rem] lg:text-xl lg:leading-[2.6rem] uppercase group-hover/textblock:lg:font-serif transition-all;
    }

    .text-block-text {
        @apply [&>*]:text-md [&>*]:leading-[2rem] [&>*:not(:first-child)]:mt-2 [&>*:first-child]:indent-3 [&>*]:lg:text-base [&>*]:lg:leading-[2.2rem] [&>*:first-child]:lg:indent-[6.5rem] group-hover/textblock:lg:font-serif transition-all;
    }

    .main-page-content h2 {
        @apply text-base mb-[2.5rem] mt-[4.5rem] lg:text-xl lg:mb-3 uppercase
    }

    .main-page-content > *:not(h1,h2,h3,h4) {
        @apply text-md lg:text-base
    }

    .main-page-content p + p {
        @apply mt-2;
    }

    .account-title {
        @apply text-center uppercase first-line:font-serif first-line:-tracking-[.05em] text-2xl max-w-[10ch] mx-auto
    }

    .form__message {
        @apply text-xs ps-2 underline underline-offset-2
    }
    .form__message--error {
        @apply text-[#FF0000]
    }

    #login, #recover {
        @apply scroll-m-2
    }

    #login:focus-visible, #recover:focus-visible {
        @apply outline-none
    }

    #recover {
        @apply hidden
    }

    #recover:target {
        @apply block
    }

    #recover:target~#login {
        @apply hidden;
    }

    .carte-blanche-subscription--text-content {
        @apply [&>*]:text-md [&>*]:leading-[1.7rem] [&>*:not(:first-child)]:mt-2 [&>*:first-child]:indent-3 [&>*]:lg:text-base [&>*]:lg:leading-[2.2rem] [&>*:first-child]:lg:indent-[6.5rem];
    }

    .address-list-address {
        @apply not-italic font-serif -tracking-[.05em] [&>*]:-tracking-[.05em] text-xs [&>*]:text-xs leading-[1.6rem] [&>*]:leading-[1.6rem] lg:text-base [&>*]:lg:text-base [&:not(:first-child)]:mt-2 [&:not(:first-child)]:lg:mt-4
    }

    .article-content {
        @apply font-serif -tracking-[.05em] big-text leading-[3.52rem] lg:text-2xl lg:leading-[4.8rem] mt-.5 lg:mt-[9rem] px-1 lg:px-0
        [&>*]:big-text [&>*]:leading-[3.52rem] [&>*]:-tracking-[.05em] [&>*]:lg:text-2xl [&>*]:lg:leading-[4.8rem] indent-6 lg:indent-[14rem]
    }

    .article-extra-text {
        @apply text-md leading-[2rem] lg:text-base lg:leading-[2.2rem] 
        [&>p:first-child]:indent-4 [&>p:first-child]:lg:indent-6 [&>p:not(:first-child)]:mt-2
        [&>*]:text-md [&>*]:leading-[2rem] [&>*]:lg:text-base [&>*]:lg:leading-[2.2rem]
    }

    .account-block-title {
        @apply text-md leading-[2.08rem]
    }

    .order-item-title {
        @apply font-serif -tracking-[.05em] text-md leading-[2.1rem] text-[rgba(var(--color-foreground),_.5)]
    }

    .account-order-item-details {
        @apply text-md leading-[2.1rem] lg:text-base lg:leading-[2.4rem]
    }

    .account-order-item {
        @apply odd:basis-[calc(((100%_-_2rem)_/_10)_*_4)] even:basis-[calc(((100%_-_2rem)_/_10)_*_6)] lg:even:basis-[calc((100%_-_(2rem_*_2))_/_3)] lg:odd:basis-[calc((100%_-_(2rem_*_2))_/_3)] flex flex-col gap-y-1
    }

    
}


#menu-drawer {
    @apply transition-transform ease-in-out duration-100 will-change-transform -translate-x-full;
}

[open].menu-opening #menu-drawer {
    @apply transition-transform ease-in-out duration-100 will-change-transform translate-x-0;
}