@tailwind base;

@layer base {
    h1, .h1 {
        @apply text-4xl;
    }
    h2, .h2 {
        @apply text-3xl;
    }
    h3, .h3 {
        @apply text-2xl;
    }
    h4, .h4 {
        @apply text-xl;
    }
    h5, .h5 {
        @apply text-base;
    }
    h6, .h6 {
        @apply text-sm;
    }
    .big-text {
        font-size: 3.2rem;
        line-height: 3.6rem;
        letter-spacing: -1.6px;
    }

    p {
        @apply text-base;
    }
    
    h1.font-sans, .h1.font-sans {
        letter-spacing: -1.76px;
    }
    h1.font-serif, .h1.font-serif {
        letter-spacing: -4.4px;
    }
    h2.font-sans, .h2.font-sans {
        letter-spacing: -1.24px;
    }
    h2.font-serif, .h2.font-serif {
        letter-spacing: -3.1px;
    }
    h3.font-sans, .h3.font-sans {
        letter-spacing: -0.88px;
    }
    h3.font-serif, .h3.font-serif {
        letter-spacing: -2.2px;
    }
    h4.font-sans, .h4.font-sans {
        letter-spacing: -0.44px;
    }
    h4.font-serif, .h4.font-serif {
        letter-spacing: -1.1px;
    }
    h5.font-sans, .h5.font-sans {
        letter-spacing: -0.32px;
    }
    h5.font-serif, .h5.font-serif {
        letter-spacing: -0.8px;
    }
    h6.font-sans, .h6.font-sans {
        letter-spacing: -0.26px;
    }
    h6.font-serif, .h6.font-serif {
        letter-spacing: -0.65px;
    }
    p.font-sans, .base-text.font-sans {
        letter-spacing: -0.32px;
    }
    p.font-serif, .base-text.font-serif {
        letter-spacing: -0.8px;
    }
    .header__heading-link, .header__heading {
        @apply h4 uppercase font-serif;
    }

    .header__heading-link {
        padding: 1.1rem 0 .7rem;
    }

    body {
        @apply font-sans;
        @apply text-base;
        @apply text-[color:var(--color,#022541)];
        @apply bg-[color:var(--bg,#FFFEF7)];
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    div, img, svg {
       @apply leading-none;
    }

}

.base-text {
    @apply text-base;
}

@tailwind components;
@tailwind utilities;

@layer components {
    .section-header.animate {
        @apply transition-[top] duration-[.15s] ease-out
    }

    .section-header.shopify-section-group-header-group {
        @apply z-[3]
    }

    .shopify-section-header-sticky {
        @apply sticky top-0
    }

    .shopify-section-header-hidden {
        @apply -top-[calc(1_*_var(--header-height))]
    }

    .header-wrapper {
        @apply block relative
    }

    .container {
        @apply grid grid-cols-10 gap-1 px-1 lg:px-2
    }

    .btn {
        @apply font-sans;
        text-align: center;
        font-size: 1.3rem;
        line-height: 2.2rem; /* 110% */
        letter-spacing: -0.26px;
        @apply uppercase;
        padding: 1.2rem 3.5rem 1rem;
        border-radius: 1rem;
        color: var(--btn-color, #FFFEF7);
        background-color: var(--btn-bg, #022541);
        @apply border;
        border-color: var(--btn-border, #022541);
        @apply transition-colors;

    }

    .btn:hover {
        color: var(--btn-color-hover, #FFFEF7);
        background-color: var(--btn-bg-hover, #AA9955);
        border-color: var(--btn-border-hover, #AA9955);
    }

    @media (min-width: 1024px) {
        .btn {
            font-size: 1.4rem;
            line-height: 2.2rem; /* 110% */
            letter-spacing: -0.28px;
    
        }
    }

    .btn-small {
        @apply font-sans;
        text-align: center;
        font-size: 10px;
        line-height: 14.4px;
        letter-spacing: -.02em;
        padding: .35rem 1.5rem .25rem;
        border-radius: .2rem;
        color: var(--btn-color, #FFFEF7);
        background-color: var(--btn-bg, #022541);
        @apply border;
        border-color: var(--btn-border, #022541);
        @apply transition-colors;
    }

    .btn-small:hover {
        color: var(--btn-color-hover, #FFFEF7);
        background-color: var(--btn-bg-hover, #AA9955);
        border-color: var(--btn-border-hover, #AA9955);
    }

    .btn-link {
        @apply font-sans;
        font-size: 1.4rem;
        line-height: 2.2rem;
        @apply relative;
        @apply uppercase;
        letter-spacing: -0.28px;
        color: var(--btn-color, #151515);
        @apply transition-colors;
    }

    .btn-link:hover {
        color: var(--btn-color-hover, #AA9955);
    }

    .visually-hidden {
        position: absolute!important;
        overflow: hidden;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
        word-wrap: normal!important;
    }

    .skip-to-content-link {
        z-index: 9999;
        position: inherit;
        overflow: auto;
        width: auto;
        height: auto;
        clip: auto;
        padding: 0.5rem 1.5rem 0.4rem;
    }

    .list-menu--inline {
        gap: 2rem;
    }

    .default-input {
        @apply outline-none;
        @apply border-b;
        @apply font-sans;
        font-size: 1.4rem;
        line-height: 2.2rem;
        letter-spacing: -.02em;
        border-color: var(--input-border, currentColor);
        background-color: var(--input-bg, transparent);
    }

    .card-act-btn {
        @apply font-sans;
        @apply text-sm;
        @apply uppercase;
        @apply w-full;
        @apply flex;
        @apply justify-between;
        @apply items-center;
        @apply gap-1;
        @apply px-1;
        @apply py-[.85rem];
        @apply border-y;
        @apply text-[color:var(--act-btn-border)];
        @apply bg-[color:var(--act-btn-bg)];
        @apply border-[color:var(--act-btn-border)];
        @apply enabled:text-[color:var(--act-btn-color)];
        @apply enabled:bg-[color:var(--act-btn-bg)];
        @apply enabled:hover:text-[color:var(--act-btn-color-hover)];
        @apply enabled:hover:bg-[color:var(--act-btn-bg-hover)];
        @apply enabled:hover:border-[color:var(--act-btn-border-hover)];
        @apply transition-all;
        @apply relative;
        @apply [&.loading]:hover:text-transparent;
        @apply [&.loading]:hover:bg-[color:var(--act-btn-bg)];
        @apply [&.loading]:hover:border-[color:var(--act-btn-border)];
    }

    .card-act-btn circle{
        @apply transition-all;
    }

    .card-act-btn line {
        @apply transition-all;
    }

    .loading-overlay--spinner {
        @apply absolute;
        @apply w-[1.5rem];
        @apply left-1/2; 
        @apply -translate-x-2/4;
        @apply animate-spin-slow;
    }

    .loading-overlay--spinner .path {
        stroke-dasharray: 280;
        stroke-dashoffset: 0;
        transform-origin: center;
    }

    .drawer {
        @apply fixed;
        @apply top-0;
        @apply left-0;
        @apply w-screen;
        @apply h-fit;
        @apply invisible;
        @apply [&.active]:visible;
        @apply z-30;
        @apply flex;
        @apply justify-end;

    }

    .cart-drawer__overlay {
        @apply fixed;
        @apply inset-0;
        @apply backdrop-blur-[10px];
        @apply -z-10;
    }
    .drawer__inner {
        @apply text-[color:var(--color,_#151515)];
        @apply bg-[color:var(--bg,_#FFFEF7)];
        @apply w-[30rem];
        @apply md:w-[60.9rem];
        @apply overflow-auto;
        @apply flex;
        @apply flex-col;
        @apply pt-1;
        @apply px-1;
        @apply pb-2;
        @apply md:p-2;
        @apply gap-2;
        @apply gap-2;
        @apply rounded-2xl;
        @apply translate-y-0;
        @apply xs:translate-y-[2rem];
        @apply translate-x-full;
        @apply group-[&.active]:-translate-x-0;
        @apply xs:group-[&.active]:-translate-x-[2rem];
        @apply transition-transform;
        @apply delay-100;
        @apply duration-500;
    }

    .no-js .no-js-hidden {
        @apply hidden;
    }
    .no-js:not(html) {
        @apply hidden;
    }

    .product__description, .product__description>* {@apply text-[1.4rem] leading-[1.5rem] -tracking-[.02em] lg:text-base}

    .product__description hr {
        @apply mt-[5.5rem] lg:mt-[6.5rem] mb-[1.5rem];
    }

    .product-act-btn {
        @apply flex justify-center items-center h-[5.5rem] w-full px-[3.6rem] py-[1.2rem] rounded-3xl uppercase text-[color:var(--act-btn-color,_#FFFEF7)] bg-[color:var(--act-btn-bg,_#022541)]
        text-[2rem] leading-[2.2rem] -tracking-[.02em] border border-[color:var(--act-btn-border,_#022541)] hover:text-[color:var(--act-btn-color-hover,_#FFFEF7)]
        hover:border-[color:var(--act-btn-border-hover,_#AA9955)] hover:bg-[color:var(--act-btn-bg-hover,_#AA9955)] transition-all;
    }

    .product-form__buttons .shopify-payment-button__button {
        @apply flex justify-center items-center h-[5.5rem] w-full px-[3.6rem] py-[1.2rem] rounded-3xl uppercase text-[color:var(--act-btn-color,_#151515)] bg-[color:var(--act-btn-bg,_transparent)]
        text-[2rem] leading-[2.2rem] -tracking-[.02em] border border-[color:var(--act-btn-border,_#151515)] hover:text-[color:var(--act-btn-color-hover,_#FFFEF7)]
        hover:border-[color:var(--act-btn-border-hover,_#022541)] hover:bg-[color:var(--act-btn-bg-hover,_#022541)] border-solid transition-all;
    }
    
    .product-form__buttons .shopify-payment-button__button--hidden {
        @apply hidden;
    }

    .product-sticky-btn {
        @apply flex justify-center items-center h-[3.1rem] text-[1.3rem] lg:text-[1.4rem] leading-[2.2rem] -tracking-[.02em] uppercase rounded-2xl border border-[color:var(--sticky-btn-border,_#FFFEF7)]
        pt-[.2rem] lg:pt-0 px-2 min-w-[13.6rem] lg:min-w-[15.8rem];
    }

    .sticky-act-section {
        @apply sticky top-[var(--header-height,_0)] transition-[top] duration-[.15s] ease-out;
    }

    .sticky-header-hidden .sticky-act-section {
        @apply top-0;
    }

    
}

.producer-overview .metafield-multi_line_text_field,
.producer-overview p {
    @apply font-serif text-[3.2rem] leading-[3.6rem] -tracking-[.05em] indent-6 lg:text-2xl lg:leading-normal lg:indent-[14rem]
}

.producer-description .metafield-rich_text_field {
    @apply lg:columns-2 gap-2
}

.producer-description .metafield-rich_text_field> * {
   @apply mb-2 text-base -tracking-[.02em]
}

#menu-drawer {
    @apply transition-transform; 
    @apply ease-in-out; 
    @apply duration-100; 
    @apply will-change-transform;
    @apply -translate-x-full;
}

[open].menu-opening #menu-drawer {
    @apply transition-transform; 
    @apply ease-in-out; 
    @apply duration-100; 
    @apply will-change-transform;
    @apply translate-x-0;
}